@model IEnumerable<MeowPlanet.ViewModels.Missings.ItemsViewModel>

<div class="container-fluid cat-item">
    <div class="row mt-2" style="border-bottom: 2px solid white; height: 180px">
        <div class="col-6 d-flex flex-column " style="justify-content: space-evenly; align-items:center">
            <img src="../images/14.jpg" style="max-height: 100%; max-width: 100%; border: 0px solid white; border-radius: 15px" />
            <div>
                走失日期 :
                <div>2022-07-13</div>
            </div>

        </div>
        <div class="col-6 d-flex flex-column " style="justify-content: space-evenly; align-items:center">
            <div>貓貓</div>
            <div>米克斯</div>
            <div>共有 0 條線索 </div>
            <div style="position: relative; top: 3px">
                最近線索 :
                <div>2022-07-13</div>
            </div>
        </div>
    </div>
</div>

