@model MeowPlanet.ViewModels.LoginModel

@{
    ViewData["Title"] = "Index";
}

@section Styles{
    <link href="~/css/loginpage.css" rel="stylesheet" />
}


    <section class="loginsection">
        <div class="container d-flex justify-content-center">
            <div class="row w-75">
                <div class="col-6 bg-img">
                </div>
                <div class="col-6 loginform">
                    <form id="account" method="post" asp-action="Login" autocomplete="off">
                        <div class="text-center">
                            <h2>登入喵星球</h2>
                        </div>
                        <div class="enter-form">

                            <div class="d-flex justify-content-between align-items-center">
                                <p class="form-p my-3">Email</p>
                                <span id="alert"></span>
                            </div>

                            <div class="d-flex align-items-center">
                                <input type="email" asp-for="Email" class="form-control login-sp" autocomplete="username" aria-required="true" />
                                <span asp-validation-for="Email" class="text-danger ms-1"></span>
                            </div>

                            <div class="d-flex justify-content-between align-items-center">
                                <p class="form-p my-3">密碼</p>
                            </div>


                            <div class="d-flex align-items-center">
                                <input type="password" asp-for="Password" class="form-control login-sp" aria-required="true" />
                                <span asp-validation-for="Password" class="text-danger ms-1"></span>
                            </div>

                            <div class="form-check form-switch cbox my-3">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">記住我</label>
                                <a id="forgot-password" asp-controller="Login" asp-action="Password">忘記密碼?</a>
                            </div>

                            <div class="d-flex align-items-center">
                                <button id="login-submit" type="submit" class="login-sp">登入</button>
                            </div>
                        </div>
                        <p class="or-p text-center">———————&ensp;&ensp;&ensp;或者&ensp;&ensp;&ensp;———————</p>

                        <div class="d-flex justify-content-center link-icon">
                            @*<img src="@Href("~/Images/googleplus.png")">*@
                            <i class="fa-brands fa-google-plus"></i>
                        </div>

                        <div class="text-center re-a">
                            <a asp-controller="Login" asp-action="Register">還不是會員?</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </section>



    @section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>

        $('#login-submit').click(function() {

            $.get("Login/LoginCheck", { email: $('input[type=email]').val(), password: $('input[type=password]').val() }, function(data) {

                if (data == "Email或密碼錯誤") {
                    $('#alert').html(data).css('color', '#2A483A')
                } else {
                    alert("登入成功")

                }


            })
        })



    </script>

}