
@{
    ViewData["Title"] = "Register";
}

@section Styles{
    <link href="~/css/registerpage.css" rel="stylesheet" />
}


@*    <section class="loginsection">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <p></p>
                </div>
                <div class="col-6 loginform">
                    <form id="account" method="post" asp-action="Login">
                        <div class="text-center">
                            <h2>登入喵星球</h2>
                        </div>

                        <p class="form-p">Email</p>
                        <div class="d-flex justify-content-center">
                            <input asp-for="Email" class="form-control login-sp" autocomplete="username" aria-required="true" />
                        </div>

                        <p class="form-p">密碼</p>
                        <div class="d-flex justify-content-center">
                            <input asp-for="Password" class="form-control login-sp" autocomplete="current-password" aria-required="true" />
                        </div>

                        <div class="form-check form-switch cbox">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                            <label class="form-check-label" for="flexSwitchCheckChecked">記住我</label>
                            <a href="#" id="forgot-password">忘記密碼?</a>
                        </div>

                        <div class="d-flex justify-content-center">
                            <button id="login-submit" type="submit" class="login-sp">登入</button>
                        </div>

                        <p class="or-p text-center">———————&ensp;&ensp;&ensp;或者&ensp;&ensp;&ensp;———————</p>

                        <div class="d-flex justify-content-center link-icon">
                            <img src="@Href("~/Images/googleplus.png")">
                        </div>

                        <div class="text-center re-a">
                            <a href="#">還不是會員?</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </section>*@