@model MeowPlanet.ViewModels.RegisterModel

@{
    ViewData["Title"] = "Register";
}

@section Styles{
    <link href="~/css/registerpage.css" rel="stylesheet" />
}

    <section class="registersection img-bg d-flex align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center w-75">
                <div class="col-6 mycontent-left d-flex align-items-center justify-content-center">
                    <p>
                        填寫簡單資料<br />
                        一起登錄喵星
                    </p>
                </div>

                <div class="col-6 mycontent-right py-5">

                    <form method="post" asp-action="AddMember" asp-controller="Login" autocomplete="off">
                        <div class="text-center">
                            <h2>註冊喵會員</h2>
                        </div>
                        <div class="regist-form">
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="form-p">Email</p>
                                <span id="alert"></span>
                            </div>

                            <div class="d-flex align-items-center">
                                <input type="email" asp-for="Email" class="form-control regist-sp" autocomplete="username" aria-required="true" />
                                <span asp-validation-for="Email" class="text-danger ms-1" id="EmailValid"></span>
                            </div>

                            <div class="d-flex justify-content-between align-items-center">
                                <p class="form-p">密碼</p>

                            </div>

                            <div class="d-flex align-items-center">
                                <input type="password" asp-for="Password" class="form-control regist-sp" autocomplete="current-password" aria-required="true" />
                                <span asp-validation-for="Password" class="text-danger ms-1"></span>
                            </div>

                            <div class="d-flex justify-content-between align-items-center">
                                <p class="form-p">姓名</p>

                            </div>

                            <div class="d-flex align-items-center">
                                <input type="text" asp-for="Name" class="form-control regist-sp" autocomplete="current-password" aria-required="true" />
                                <span asp-validation-for="Name" class="text-danger ms-1"></span>
                            </div>

                            <div class="d-flex justify-content-between align-items-center">
                                <p class="form-p">連絡電話</p>

                            </div>

                            <div class="d-flex align-items-center">
                                <input type="text" asp-for="Phone" class="form-control regist-sp" autocomplete="current-password" aria-required="true" />
                                <span asp-validation-for="Phone" class="text-danger ms-1"></span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn regist-sp2 my-5" onclick="registerSubmit()">註冊</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </section>



    @section Scripts {
    <partial name="_ValidationScriptsPartial" />


    <script>

        $('input[type=email]').blur(function() {

            if ($('#EmailValid').text() == '') {
                if ($('input[type=email]').val() == '') {
                    $('#alert').css('display', 'none')
                } else {
                    $('#alert').css('display', 'block')
                    $.get("EmailCheck", { email: this.value }, function(data) {
                        if (data == "此信箱已註冊") {
                            $('#alert').html(data).css('color', '#2A483A')
                        } else {
                            $('#alert').html(data).css('color', '#FF8EFF')
                        }
                    })
                }
            } else {
                $('#alert').css('display', 'none')
            }


        })
    </script>

    }