@{
    ViewData["Title"] = "ResetPassword";
}

@section Styles{
    <link href="~/css/resetpassword.css" rel="stylesheet" />
}

    <div class="h-100 d-flex justify-content-center">
        <div class="repassword text-center justify-content-center align-content-center">
            <div><i class="fa-2x fa-solid fa-key mb-4"></i></div>
            <h2 class="mb-3">設定新密碼</h2>
            <p class="mb-5">請設定一組新的密碼</p>
            <div class="p_group">
                <label for="p_id" class="d-block text-start">新密碼</label>
                <input type="text" id="p_id" />
                <label for="confirm_id" class="confirm d-block text-start">確認密碼</label>
                <input type="text" id="confirm_id" />
            </div>
            <div><button class="btn_repassword">重設密碼</button></div>
            <a href="#" class="return d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-arrow-left"></i>
                <p class="m-0 ms-2">返回登入</p>
            </a>
        </div>
    </div>

