<style>
    #cat-region-detail{
        display:none;
    }
</style>

<div class="cat-region-select" id="cat-region-select">

</div>

<div class="cat-region-detail" id="cat-region-detail">
    <btn></btn>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

<script>
    
    var catInfo = [];

    $(function(){
        $.get("Member/GetCatInfo", function(data) {

            var catall = "";

            catInfo = data;

            for (let i = 0; i < data.length; i++){

                let cat = `
                    <a>
                    <div class="cat-select d-flex align-items-center px-4" style="cursor:pointer;" onclick="showcatdetail(${i})" id="cat${i}">
                
                        <img src="${data[i].img01}" style="width:150px;height:110px;border-radius:30px;" >

                        <div class="d-flex align-items-center justify-content-center" style="width:219px;height:110px;">
                            <p  style="font-size:30px">${data[i].name}</p>
                        </div>

                    </div>
                    </a>
                `;

                catall += cat;
            }

            $('#cat-region-select').append(catall)


            function showcatdetail(){
                $('#cat-region-select').css('display','none')

                let cat = `
                    <a>
                    <div class="cat-select d-flex align-items-center px-4" style="cursor:pointer;" onclick="showcatdetail()">
                
                    <img src="${data[1].img01}" style="width:150px;height:110px;border-radius:30px;" >

                    <div class="d-flex align-items-center justify-content-center" style="width:219px;height:110px;">
                        <p  style="font-size:30px">${data[1].name}</p>
                    </div>

                    </div>
                    </a>
                `;

                $('#cat-region-detail').css('display','block').append(cat)
            }

        })

    })


    function showcatdetail(i){
        $('#cat-region-select').css('display','none')

        let catSex = ""

        if (catInfo[i].sex == true) {
            catSex = "貓弟弟"
        } else {
            catSex = "貓妹妹"
        }

        let cat = `

            <div class="cat-detail p-4">
                <div class="text-center">
                    <img src="${catInfo[i].img01}" style="width:180px;height:140px;border-radius:30px;" >
                </div>
                
                <div class="my-3">
                    <p>名稱</p>
                    <input type="text" value="${catInfo[i].name}"/>
                </div>
                <div class="my-3">
                    <p>性別</p>
                    <input type="text" value="${catSex}"/>
                </div>
                <div class="my-3">
                    <p>年齡</p>
                    <input type="text" value="${catInfo[i].age}"/>
                </div>
                <div class="my-3">
                    <p>介紹</p>
                    <textarea type="text">${catInfo[i].introduce}</textarea>
                </div>

            </div>

        `;

        $('#cat-region-detail').css('display','block').append(cat)
    }

</script>