@model MeowPlanet.Models.Member
@using System.Security.Claims;

@{
    ViewData["Title"] = "memberInfo";
}

@section Styles{
    <link href="~/css/memberInfo.css" rel="stylesheet" />


}


    <section id="member" class="d-flex align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-3 memberleft mx-3">
                    <div class="d-flex">
                        <div class="col-7 img-wrap d-flex align-items-center justify-content-end">
                            <img src="../images/ar.png" />
                        </div>
                        <div class="col-5 p-wrap  d-flex align-items-center justify-content-center">
                            <p>@Model.Name</p>
                        </div>

                    </div>

                    <div class="text-center my-5">
                        <a onclick="showAccount()">我的帳戶</a>
                    </div>
                    <div class="text-center my-5">
                        <a>保姆服務</a>
                    </div>
                    <div class="text-center my-5">
                        <a href="#" id="adoption">領養資訊</a>
                    </div>
                    <div class="text-center my-5">
                        <a href="#" id="clues">協尋管理</a>
                    </div>


                </div>
                <div class="col-9 memberright mx-3 row d-flex justify-content-center" id="member-right-region">
                </div>
            </div>

        </div>

    </section>

    @section Scripts{
    <script>
        $('.nav-item a').eq(3).addClass('nav-item-active');

        function showAccount() {
            $.get("@Url.Action("GetAccountInfo", "Member")", { MemberId: @Model.MemberId}, function(data) {
                $("#member-right-region").html(data)
            })
        }
        $(document).on('click', '#backToList', () => {
            showAccount()
        })
        $('#adoption').click(() => {
            $.get('/Adoption/LikeTolist', function(data) {
                $('#member-right-region').html(data);
            })
        })

    </script>

}