@model MeowPlanet.Models.Member

@{
    ViewData["Title"] = "memberInfo";
}

@section Styles{
    <link href="~/css/memberInfo.css" rel="stylesheet" />


    }



    <section id="member" class="d-flex align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-3 memberleft mx-3">
                    <div class="d-flex">
                        <div class="col-7 img-wrap d-flex align-items-center justify-content-end">
                            <img src="../images/ar.png" />
                        </div>
                        <div class="col-5 p-wrap  d-flex align-items-center justify-content-center">
                            <p>王小明</p>
                        </div>
                        
                    </div>

                    <div class="text-center my-5">
                        <a href="#">我的帳戶</a>
                    </div>
                    <div class="text-center my-5">
                        <a href="#">保姆服務</a>
                    </div>
                    <div class="text-center my-5">
                        <a href="#">領養資訊</a>
                    </div>
                    <div class="text-center my-5">
                        <a href="#">協尋管理</a>
                    </div>


                </div>
                <div class="col-9 memberright ms-3 row d-flex justify-content-center">
                    <div class="col-5 member-region">
                        <div class="title"><p>會員資料</p></div>
                        <div class="my-3">
                            <p>Email</p>
                            <input type="text" value="@Model.Email" id="email-in"/>
                        </div>
                        <div class="my-3">
                            <p>密碼</p>
                            <input type="text" value="@Model.Password"/>
                        </div>
                        <div class="my-3">
                            <p>姓名</p>
                            <input type="text" value="@Model.Name""/>
                        </div>
                        <div class="my-3">
                            <p>電話</p>
                            <input type="text" value="@Model.Phone"/>
                        </div>

                        <div class="d-flex justify-content-between">
                            <button class="mem-btn">編輯</button>
                            <button class="mem-btn">完成</button>
                        </div>
                        
                    </div>
                    <div class="col-6 cat-region">

                    </div>
                </div>
            </div>

        </div>

    </section>

    @section Scripts{



}