
@{
    ViewData["Title"] = "memberInfo";
}

@section Styles{
    <link href="~/css/memberInfo.css" rel="stylesheet" />
}

<div id="stars"></div>
<div id="stars2"></div>
<div id="stars3"></div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-4 px-0">

                <!-- 左導覽 -->
                <nav id="sidebar">
                    <!-- 會員頭像 -->
                    <div class="img-wrap">
                        <img src="../images/ar.png" alt="">
                    </div>
                    <h6 style="color:white">會員名稱</h6>

                    <!-- 列表 -->
                    <ul class="list-unstyled">

                        <li>
                            <a id="pinfo"><i class="fa-solid fa-user"></i> 個人資料 </a>

                        </li>
                        <li>
                            <a id="sinfo"><i class="fa-solid fa-id-card"></i> 保姆資料 </a>
                        </li>
                        <li>
                            <a><i class="fa-solid fa-circle-info"></i> 服務資訊 </a>
                        </li>
                        <li>
                            <a><i class="fa-solid fa-envelope"></i> 系統通知 </a>
                        </li>

                    </ul>

                </nav>

            </div>

            <div class="col-8 px-0" id="pinfocol">
                <div class="pcinfo" id="pcinfo">

                    <div class="nav nav-tabs">
                        <button class="nav-link active w-50" data-toggle="tab" data-target="#menu1" aria-selected="true">
                            個人資訊
                        </button>
                        <button class="nav-link w-50" data-toggle="tab" data-target="#menu2" aria-selected="false">
                            寵物資訊
                        </button>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="menu1">
                            <div class="p-info">

                                <form>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" class="account form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>帳號</label>
                                        <input type="password" class="password form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>密碼</label>
                                        <input type="password" class="password form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>電話</label>
                                        <input type="password" class="password form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>姓名</label>
                                        <input type="password" class="password form-control">
                                    </div>
                                    <button type="button" class="btn btn-info mx-5">修改資料</button>
                                </form>

                            </div>

                        </div>
                        <div class="tab-pane fade" id="menu2">
                            <div class="c-info">
                                <h3>寵物資訊</h3>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

            <div class="col-8 px-0" id="sinfocol" style="display: none;">
                <div class="pcinfo" id="pcinfo">

                    <!-- 分頁標籤 -->
                    <div class="nav nav-tabs">
                        <button class="nav-link active" data-toggle="tab" data-target="#menu3" aria-selected="true">
                            保姆資料
                        </button>
                        <button class="nav-link" data-toggle="tab" data-target="#menu4" aria-selected="false">
                            保姆伙伴
                        </button>
                    </div>

                    <!-- 分頁內容 -->
                    <div class="tab-content">
                        <!-- 喵屋星人 -->
                        <div class="tab-pane fade show active" id="menu3">
                            <div class="p-info">
                                <h3>保姆資訊</h3>

                                <form>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" class="account form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>帳號</label>
                                        <input type="password" class="password form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>密碼</label>
                                        <input type="password" class="password form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>電話</label>
                                        <input type="password" class="password form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>姓名</label>
                                        <input type="password" class="password form-control">
                                    </div>
                                    <button type="button" class="btn btn-info mx-5">修改資料</button>
                                </form>

                            </div>

                        </div>
                        <div class="tab-pane fade" id="menu4">
                            <div class="c-info">
                                <h3>保姆伙伴資訊</h3>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{


    <script>
    $('#pinfo').click(function () {
      $('#pinfocol').removeAttr('style')
      $('#sinfocol').css('display', 'none')
    })
    $('#sinfo').click(function () {
      $('#sinfocol').removeAttr('style')
      $('#pinfocol').css('display', 'none')
    })

    </script>

}