@model MeowPlanet.ViewModels.MessageBoxModel
@using System.Security.Claims;
@{
    string userName = "";
    string userPhoto = "";
    bool isLogin = Int32.TryParse(User.Claims.Where(x => x.Type == ClaimTypes.Sid).Select(x => x.Value).FirstOrDefault(), out int memberId);
    if (isLogin == true)
    {
        userName = @Model.userName;
        userPhoto = @Model.userPhoto;
    }
}

<style>

    #message-open {
        position: fixed;
        right: 0;
        bottom: 50px;
    }

    #message-close {
        transform: translate(calc(-100% - 10px), 20%);
    }

    .message-btn {
        border: 0;
        width: 40px;
        background-color: wheat;
        padding: 10px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        font-size: 18px;
        box-shadow: 0 0 15px white;
    }

        .message-btn:hover {
            background-color: #C2AF8D;
        }

    #message-box {
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        z-index: 50000;
        background-color: #c9c9c9;
        height: 400px;
        width: 600px;
        position: fixed;
        right: 0;
        bottom: 50px;
        padding: 10px
    }

    #message-body {
        display: inline-block;
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
        width: 65%;
        margin-right: 10px;
        background-color: whitesmoke;
        height: 100%;
    }

    #message-user {
        display: inline-block;
        width: calc(35% - 10px);
        background-color: whitesmoke;
        height: 100%;
        overflow-y: auto;
    }

    #message-content {
        flex-basis: 75%;
        padding: 0.5rem;
        overflow-y: auto;
    }

        #message-content::-webkit-scrollbar {
            width: 6px;
        }

        /* Track */
        #message-content::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey;
            border-radius: 6px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        /* Handle */
        #message-content::-webkit-scrollbar-thumb {
            background: #b99668;
            border-radius: 6px;
        }

            /* Handle on hover */
            #message-content::-webkit-scrollbar-thumb:hover {
                background: #b996689c;
            }

    #message-input {
        flex-basis: 25%;
    }

    #message-box textarea {
        resize: none;
    }

    .message-right {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        margin-bottom: 10px;
    }

    .message-left {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 10px;
    }

        .message-left img, .message-right img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            object-fit: cover;
        }

    .time {
        color: gray;
        font-size: 0.7rem;
    }
    .message{
        width: min-content;
        max-width: 250px;
        padding:10px;        
        border-radius: 7px;
        background-color:papayawhip;
        box-shadow: 0 0 15px grey;
        overflow-wrap: break-word;
    }
</style>

<button id="message-open" class="message-btn" data-bs-toggle="collapse" data-bs-target="#message-box"><i class="fa-solid fa-comment-dots"></i> 即時通訊</button>
<div class="collapse collapse-horizontal" id="message-box">
    <div class="d-flex h-100 w-100">
        <button id="message-close" class="message-btn position-absolute" data-bs-toggle="collapse" data-bs-target="#message-box"><i class="fa-solid fa-xmark"></i> 關閉</button>
        <div id="message-body" class="d-flex flex-column">
            <div id="message-content"></div>
            <textarea maxlength="100" class="form-control" id="message-input" placeholder="按Enter發送訊息"></textarea>
            <input type="hidden" id="userId" value="9" />
        </div>
        <div id="message-user">
        </div>
    </div>
</div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script>

    function autoScroll() {
        $('#message-content').animate({
            scrollTop: $('#message-content').get(0).scrollHeight
        }, 500);
    }

    var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
    connection.start().then(function() {
        console.log("Hub 連線完成");
    }).catch(function(err) {
        alert('連線錯誤: ' + err.toString());
    });

    connection.on("ReceiveMessage", function(userName, userPhoto, message) {

        let time = new Date().toLocaleTimeString().slice(0, -3);

        let $messageLeft = $(`<div class="message-left">
                                    <img class="me-2" src='${userPhoto}' />
                                        <div class="d-flex flex-column align-items-start">
                                            <div class="text-end mb-2">${userName} <span class="time">${time}</span></div>
                                            <div class="message" style="border-top-left-radius: 0;">${message}</div>
                                        </div>
                                    </div>`
        )
        //$(`<div class="message-right">
            //    <img class="ms-2" src='${userPhoto}' />
            //    <div class="d-flex flex-column align-items-end">
            //        <div class="text-end mb-2"><span class="time">${time}</span> ${userName}</div>
            //        <div class="message" style="border-top-right-radius: 0;">${message}</div>
            //    </div>
            //</div>`

        $("#message-content").append($messageLeft);
        autoScroll();
    });



    //按ENTER傳送訊息
    $('#message-input').on('keydown', function(e) {


        if (e.key === 'Enter' || e.keyCode === 13) {

            e.preventDefault();

            if ($(this).val().replace(/\s/g, '').length == 0) {

                $(this).val('');

            } else {

                let userName = '@userName';
                let userPhoto = '@userPhoto';
                let message = $('#message-input').val();
                let receiveId = $('#userId').val();
                connection.invoke("SendMessage", userName, userPhoto, message, receiveId).catch(function(err) {
                    alert('傳送錯誤: ' + err.toString());
                });

                $(this).val('');

                let time = new Date().toLocaleTimeString().slice(0, -3);
                let $messageRight = $(`<div class="message-right">
                                                <img class="ms-2" src='${userPhoto}' />
                                                <div class="d-flex flex-column align-items-end">
                                                    <div class="text-end mb-2"><span class="time">${time}</span> ${userName}</div>
                                                    <div class="message" style="border-top-right-radius: 0;">${message}</div>
                                                </div>
                                            </div>`
                )

                $("#message-content").append($messageRight);
                autoScroll();

            }

        }
    });

</script>
