@model Missing

<style>
    form label {
        font-size: 1.2rem;
        color: white;
    }

    #missing-publish button {
        font-size: 1.1rem;
        padding: 0.3rem 1.5rem 0.3rem 1.5rem;
        font-size: 1.1rem;
        border: 1px solid white;
    }

        #missing-publish button:first-of-type {
            color: white;
            background-color: black;
        }
        #missing-publish button:hover{
            border-color:black;
            color: black;
            background-color: white;
        }

</style>

<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" id="missing-publish" style="background-color: rgb(27, 39, 53);">
        <form method="post" asp-action="AddMissing" asp-controller="Missings" autocomplete="off">
            <div class="modal-header">
                <h5 class="modal-title text-light m-auto h4" id="exampleModalLabel">走失資訊</h5>
            </div>
            <div class="modal-body py-4 px-5">
                <div class="form-group">
                    <label for="cat-id">貓貓id :</label>
                    <input type="text" id="cat-id" class="form-control rounded-pill" asp-for="CatId" />
                    <span asp-validation-for="CatId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="datepicker">走失日期：</label>
                    <input type="text" class="form-control rounded-pill" id="datepicker" asp-for="Date" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>其他描述：</label>
                    <input type="text" class="form-control rounded-pill" asp-for="Description" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <input type="hidden" id="lat" asp-for="Lat" />
                <input type="hidden" id="lng" asp-for="Lng" />
            </div>
            <div class="modal-footer justify-content-around">
                <button type="submit" class="btn rounded-pill"><i class="fa-solid fa-check me-2"></i>刊登</button>
                <button type="button" class="btn btn-danger rounded-pill" data-bs-dismiss="modal"><i class="fa-solid fa-xmark me-2"></i>取消</button>
            </div>
        </form>
    </div>
</div>

<script>
    $(function() {
        $("#datepicker").datepicker($.datepicker.regional['tw']);
    });

</script>