@addTagHelper *, MeowPlanet
@using System.Security.Claims;
@{
    int memberId = Convert.ToInt32(User.FindFirst(ClaimTypes.Sid).Value);
}

<style>
    .btn-tab {
        border: 2px solid white;
        width: 15%;
        font-size: 1.1rem;
        color: black;
        background-color: white;
        padding: 0.4rem;
    }

        .btn-tab:hover, .btn-tab-active {
            color: white;
            background-color: black;
        }
</style>

<div class="px-5 pt-2 pb-4 h-100 w-100">
    <div >
        <button class="rounded-pill mx-3 btn-tab"><i class="fa-solid fa-circle-question me-2"></i>待審核</button>
        <button class="rounded-pill mx-3 btn-tab"><i class="fa-solid fa-circle-check me-2"></i>已釘選</button>
        <button class="rounded-pill mx-3 btn-tab"><i class="fa-solid fa-trash-can me-2"></i>已移除</button>
    </div>
    <div style="height: 92.5%; overflow: auto; margin-top: 1rem">
        <vc:missings-manage member-id="@memberId" status="0"></vc:missings-manage>
    </div>
</div>



<script>

    $('.btn-tab').click(function() {
        $('.btn-tab').removeClass('btn-tab-active');
        $(this).addClass('btn-tab-active');
    })


</script>
