@model MeowPlanet.ViewModels.Missings.DetailViewModel

<style>
    img {
        object-fit: cover;
    }

    #main-img > img {
        border-radius: 15px;
        transition: all 0.5s ease;
    }

        #main-img > img:hover {
            transform: scale(1.5);
        }

    .modal-footer button {
        width: 150px;
        font-size: 1.3rem;
    }

    #thumbnail div {
        border-radius: 10px;
        overflow: hidden;
    }

    .hover-border {
        border: 3px solid white;
    }

</style>


<div class="modal-dialog modal-dialog-centered" style="max-width: 600px;">
    <div class="modal-content" style="background-color: rgb(27, 39, 53);">
        <div class="modal-header">
            <h5 class="modal-title" id="detailModalLabel">詳細資訊</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="height: 500px;">
            <div class="float-end" style="height: 300px; width: 300px">
                <div id="main-img" style="height: 225px; width: 300px">
                    <img class="h-100 w-100" src="@Model.Img01">
                </div>
                <div id="thumbnail" class="d-flex justify-content-between mt-2">
                    <div style="height: 75px; width: 95px" class="hover-border">
                        <img class="h-100 w-100" src="@Model.Img01">
                    </div>
                    <div style="height: 75px; width: 95px">
                        <img class="h-100 w-100" src="@Model.Img02">
                    </div>
                    <div style="height: 75px; width: 95px">
                        <img class="h-100 w-100" src="@Model.Img03">
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer d-flex justify-content-around">
            <button class="btn btn-light rounded-pill" id="checkClues">查看線索</button>
            <button class="btn btn-light rounded-pill" id="provideClues">提供線索</button>
        </div>
    </div>
</div>



<script>


    hovered = $('#thumbnail').find(':first-child')


    $('#thumbnail div').mouseenter(function() {

        let img = $('#main-img>img');

        img.attr('src', $(this).find(':first-child').attr('src'));

        hovered.removeClass('hover-border')
        hovered = $(this);
        hovered.addClass('hover-border');
    })
</script>
