@model Missing

<div class="bg-animation">
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
    <div id="stars4"></div>
</div>
<div class="row h-100 flex-nowrap my-5 mx-4" style="justify-content: space-evenly">
    <div class="w-20" id="div-items" style="transition: all 1s ease;">
        <partial name="_MissingItemsPartial" />
    </div>
    <div class="col-9 p-0" id="div-map" style="overflow: hidden; position: relative; transition: all 1s ease; ">
        <div id="map"></div>
        <input id="search-input" type="search" class="form-control rounded-pill" placeholder="搜尋 Google 地圖">
        <button id="pre-publish" class="btn btn-dark rounded-pill" style="border-color: white; width:200px">
            <span class="h5 font-weight-bold"><i class="fa-solid fa-location-dot"></i> 刊登協尋</span>
        </button>
        <button id="cancel-publish" class="btn btn-danger rounded-pill d-none" style="border-color: white; width:200px">
            <span class="h5 font-weight-bold"><i class="fa-solid fa-ban"></i> 取消刊登</span>
        </button>
    </div>
</div>





@*刊登協尋的彈出視窗*@
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-action="AddMissing" asp-controller="Missings" autocomplete="off">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">走失資訊</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="cat-id">貓貓id :</label>
                        <input type="text" id="cat-id" class="form-control" asp-for="CatId">
                        <span asp-validation-for="CatId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="datepicker">走失日期：</label>
                        <input type="text" class="form-control" id="datepicker" asp-for="Date" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="datepicker">其他描述：</label>
                        <input type="text" class="form-control" asp-for="Description" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <input type="text" class="d-none" id="lat" asp-for="Lat" />
                    <input type="text" class="d-none" id="lng" asp-for="Lng" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="~/lib/datepicker/i18n/datepicker.zh-TW.min.js"></script>
    <script src="~/js/map.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCU26gdtCyFPCboOi3luDez0bJwBS0jgF0&libraries=places,geometry&callback=initMap">
    </script>
    <script>


    </script>
}

    @section Styles{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/ui-darkness/jquery-ui.css">
    <link rel="stylesheet" href="~/css/missing.css" />
    <link rel="stylesheet" href="~/css/stars.css" />
}
