* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--project-primary-color);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#member {
    height: 100%;
}

.memberleft {
    color: white;
    padding: 1rem;
    border: 2px rgb(219, 232, 248) solid;
    box-shadow: 0 0 3rem rgba(134, 171, 190, 0.5) inset;
    background: #4B5461;
    height: 700px;
    border-radius: 30px;
}

    .memberleft img {
        width: 90%;
        border-radius: 50%;
    }

.col-3 {
    width: 20%;
}

.memberleft p {
    margin: 0;
    font-size: 20px;
}

.memberleft a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

    .memberleft a:hover {
        color: white;
        text-shadow: 0 0 1px white,0 0 3px white,0 0 5px white,0 0 7px white;
    }

.memberright {
    color: white;
    padding: 1rem;
    border: 2px rgb(219, 232, 248) solid;
    box-shadow: 0 0 3rem rgba(134, 171, 190, 0.5) inset;
    background: #4B5461;
    height: 700px;
    border-radius: 30px;
}

    .memberright p {
        margin: 3px;
        font-size: 14px;
    }

.title p {
    font-size: 24px;
}

.memberright .member-region input {
    color: white;
    border: 2px rgb(219, 232, 248) solid;
    box-shadow: 0 0 3rem rgba(134, 171, 190, 0.5) inset;
    background: rgba(0, 0, 0, .3);
    border-radius: 25px;
    font-size: 25px;
    width: 100%;
    padding: 0 1rem;
}

.memberright .cat-region input {
    color: white;
    border: 2px rgb(219, 232, 248) solid;
    box-shadow: 0 0 3rem rgba(134, 171, 190, 0.5) inset;
    background: rgba(0, 0, 0, .3);
    border-radius: 25px;
    font-size: 25px;
    width: 100%;
    padding: 0 1rem;
    text-align: center;
}

.member-region {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    position: relative;
}


.mem-btn {
    width: 120px;
    height: 41.5px;
    border: 2px rgb(219, 232, 248) solid;
    box-shadow: 0 0 3rem rgba(134, 171, 190, 0.5) inset;
    background: rgba(0, 0, 0, .3);
    border-radius: 30px;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cat-region {
    background-color: #A9ADB1;
    height: 95%;
    border-radius: 25px;
    padding: 30px;
}

.cat-region-title {
    margin-left: 30px;
}

    .cat-region-title p {
        font-size: 24px;
    }

    .cat-region-title .btn {
        font-size: 18px;
        color: white;
        border: 2px rgb(219, 232, 248) solid;
        box-shadow: 0 0 3rem rgba(134, 171, 190, 0.5) inset;
        border-radius: 30px;
        width: 120px;
        height: 41.5px;
        margin-left: auto;
    }

        .cat-region-title .btn:hover {
            color: black;
            background: white;
        }

.cat-select {
    border-radius: 30px;
    margin-top: 15px;
    width: 100%;
    height: 155px;
    background-color: #CCCCCC;
}

.cat-region-select {
    margin-top: 15px;
    height: 520px;
    overflow-x: hidden;
    overflow-y: auto;
}

.cat-detail {
    border-radius: 30px;
    margin-top: 15px;
    width: 100%;
    height: 480px;
    background-color: #CCCCCC;
    overflow-x: hidden;
    overflow-y: auto;
}

.cat-region textarea {
    color: white;
    border: 2px rgb(219, 232, 248) solid;
    box-shadow: 0 0 3rem rgba(134, 171, 190, 0.5) inset;
    background: rgba(0, 0, 0, .3);
    border-radius: 25px;
    font-size: 25px;
    width: 100%;
    padding: 0 1rem;
}

.cat-detail-btn {
    color: white;
    font-size: 30px;
    border-radius: 20px;
    height: 70px;
    width: 200px;
    padding: 1rem;
    border: 2px rgb(115, 244, 222) solid;
    box-shadow: 0 0 3rem rgba(134, 171, 190, 0.5) inset;
    background: rgba(0, 0, 0, .3);
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.member-update-btn {
    color: white;
    font-size: 25px;
    border-radius: 20px;
    width: 200px;
    border: 2px rgb(115, 244, 222) solid;
    box-shadow: 0 0 3rem rgba(134, 171, 190, 0.5) inset;
    background: rgba(0, 0, 0, .3);
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
}

.member-div {
    margin-top: 35px;
}

.dropZone {
    border: 2px rgb(115, 244, 222) solid;
    box-shadow: 0 0 3rem rgba(134, 171, 190, 0.5) inset;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
