* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#member {
    height: 100%;
}

.memberleft {
    color: white;
    padding: 1rem;
    border: 2px rgb(219, 232, 248) solid;
    box-shadow: 0 0 3rem rgba(134, 171, 190, 0.5) inset;
    background: #4B5461;
    height: 700px;
    border-radius: 30px;
}

    .memberleft img {
        width: 90%;
        border-radius: 50%;
    }

.col-3 {
    width: 20%;
}

.memberleft p {
    margin: 0;
    font-size: 20px;
}

.memberleft a {
    text-decoration: none;
    color: white;
}

    .memberleft a:hover {
        color: white;
        text-shadow: 0 0 1px white,0 0 3px white,0 0 5px white,0 0 7px white;
    }

.memberright {
    color: white;
    padding: 1rem;
    border: 2px rgb(219, 232, 248) solid;
    box-shadow: 0 0 3rem rgba(134, 171, 190, 0.5) inset;
    background: #4B5461;
    height: 700px;
    border-radius: 30px;
    padding-top:60px;
}

.title {
    /*margin-left: 100px;*/
}

.memberright p {
    margin: 3px;
    font-size: 14px;
}

.title p {
    font-size: 24px;
}

.memberright input {
    color: white;
    border: 2px rgb(219, 232, 248) solid;
    box-shadow: 0 0 3rem rgba(134, 171, 190, 0.5) inset;
    background: rgba(0, 0, 0, .3);
    border-radius: 25px;
    font-size: 25px;
    width: 100%;
    padding: 0 1rem;
}

.member-region {
    padding-left: 50px;
    padding-right: 50px;
    padding-top:50px;
}


.mem-btn {
    width: 120px;
    height: 41.5px;
    border: 2px rgb(219, 232, 248) solid;
    box-shadow: 0 0 3rem rgba(134, 171, 190, 0.5) inset;
    background: rgba(0, 0, 0, .3);
    border-radius: 30px;
    font-size: 20px;
    color: white;
}

.cat-region {
    background-color: #A9ADB1;
    height: 90%;
    border-radius: 25px;
    padding: 30px;
}

.cat-region-title{
    margin-left:30px;
}

.cat-region-title p {
    font-size: 24px;
}

.cat-region-title .btn {
    font-size: 18px;
    color: white;
    border: 2px rgb(219, 232, 248) solid;
    box-shadow: 0 0 3rem rgba(134, 171, 190, 0.5) inset;
    border-radius: 30px;
    width: 120px;
    height: 41.5px;
    margin-left: auto;
}

.cat-region-title .btn:hover{
    color:black;
    background:white;
}

.cat-select {
    border-radius: 30px;
    margin-top: 15px;
    width: 100%;
    height: 140px;
    background-color: #CCCCCC;
}

