
/* 顏色 */
:root {
    --project-bg-color: #171B20;
    --project-primary-color: #B99668;
    --project-primary-color-buzz: rgba(185, 150, 104, 0.5);
    --project-pink-color: #FF8EFF;
    --project-pink-color-buzz: rgba(255, 142, 255, 0.5);
    --project-gray-color: #4B5461;
    --project-gray-color-buzz: rgba(75, 84, 97, 0.5);
    --project-green-color: #2A483A;
    --project-green-color-buzz: rgba(42, 72, 58, 0.5);
    --project-txt-color: #ffffff;
    --project-txt-color-buzz: rgba(255, 255, 255, 0.5);
    --project-scroll-color: #b996689c;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--project-primary-color);
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #b99668e5;
    }

.div0 {
    width: 950px;
    height: 660px;
    margin: auto;
    margin-top: 20px;
    color: rgb(255, 255, 255);
}


.div1 {
    width: 850px;
    height: 610px;
    margin: 0 auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom:10px;
}

.div1-01 {
    font-size: 20px;
    margin: 20px 0px 10px 35px;
    color: #B99668;
    font-weight: 900;
}

.div1-1 {
    width: 770px;
    margin: 0 auto;
    /* 太空感  */
    color: rgb(134, 171, 190, 0.5);
    padding: 1rem;
    border: 2px rgb(150, 152, 155) solid;
    box-shadow: 0 0 0.7rem rgba(245, 251, 253, 0.541) inset;
    background: rgba(0, 0, 0, .3);
    border-radius: 25px;
    background-color: #041325;
    /* 轉成DIV特性 */
    display: block;
    margin: 0 auto;
}

.div2 {
    display: flex;
    height: 20px;
    align-items: center;
    padding: 0px 10px 0px 20px;
   
}

.div2-1 {
    width: 700px;
    font-size: 17px;
    /* 粗體 */
    font-weight: 900;
    color: rgb(209, 209, 209);
    display: flex;
    cursor: pointer;
}
.div2-1-1 {
    width: 210px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}
.div2-1-2 {
    width: 400px;
    text-align: left;
    cursor: pointer;
}
.div2-2 {
    padding-left: 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.div3 {
    width: 700px;
    height: 290px;
    padding: 5px 40px 0px 20px;
    margin: 25px 20px 10px 20px;
    border-radius: 5px;
    /* 字中 */
    text-align: left;
}
.div3-1 {
    width: 700px;
    height: 200px;
    padding: 5px 40px 0px 20px;
    margin: 25px 20px 10px 20px;
    border-radius: 5px;
    /* 字中 */
    text-align: left;
}

.div4 {
    width: 600px;
    margin: 15px 0px 20px 20px;
    display: flex;
}

.div4-1 {
    margin-top: 15px;
    width: 150px;
    height: 150px;
    /*margin-right: 30px;*/
}

    .div4-1 img {
        width: 100%;
        border-radius: 15px;
        display: block;
        margin: auto;
    }

.div4-2 {
    width:450px;
    padding-left:20px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.div4-2-1 {
    width: 400px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 0px 0px 0px 20px;
}

.div4-2-2 {
    width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.div5 {
    text-align: center;
    display: flex;
    margin-top: 35px;
}

.div5-1 {
    width: 550px;
    height: 55px;
    font-size: 20px;
    /*margin-left: 80px;*/
    margin: 0 auto;
    border-radius: 10px;
    line-height: 15px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    padding: 1rem;
    border: 2px rgb(142, 255, 212, 0.767) solid;
    box-shadow: 0 0 0.7rem rgba(142, 255, 212, 0.767) inset;
    background: rgba(0, 0, 0, .3);
    border-radius: 20px;
    /* but轉成DIV特性 */
    display: block;
}

.div5-2 {
    width: 550px;
    height: 55px;
    font-size: 20px;
    /*margin-left: 80px;*/
    margin: 0 auto;
    border-radius: 10px;
    line-height: 15px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    padding: 1rem;
    border: 2px rgba(0, 150, 209, 0.829) solid;
    box-shadow: 0 0 0.7rem rgba(0, 150, 209, 0.829) inset;
    background: rgba(0, 0, 0, .3);
    border-radius: 20px;
    /* but轉成DIV特性 */
    display: block;
}


/* 評論彈出------------------------------------------*/
.swal2-modal {
    background-color: var(--project-bg-color);
    border: 2px var(--project-txt-color) solid;
    box-shadow: 0 0 1.5rem var(--project-txt-color-buzz) inset;
    border-radius: 2%;
}

.div6-1 {
    margin-bottom: 15px;
}

.div6-2 {
    text-align: left;
    margin-bottom: 10px;
    
}

.div6-2-1 {
    margin-top: 30px;
    color: rgb(185, 150, 104);
}

.div7 {
    font-size: 55px;
    margin-right: 30px;
    color: rgb(185, 150, 104);
    cursor: pointer;
}

.div8 {
    /*width: 500px;*/
    margin: 60px 0px 10px 70px;
    
}

.div9 {
    width: 550px;
    height: 240px;
    margin-left: 60px;
    margin-top: 20px;
    font-size: 20px;
    /* 太空感  */
    color: rgb(248, 248, 248);
    padding: 1rem;
    border: 2px rgb(219, 232, 248) solid;
    box-shadow: 0 0 0.5rem rgba(134, 171, 190, 0.5) inset;
    background: rgba(0, 0, 0, .3);
    border-radius: 25px;
}

.div10 {
    width: 180px;
    height: 45px;
    font-size: 17px;
    margin: 45px 0px 0px 240px;
    border-radius: 10px;
    line-height: 5px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    padding: 1rem;
    border: 2px rgb(142, 255, 212, 0.767) solid;
    box-shadow: 0 0 0.5rem rgba(142, 255, 212, 0.767) inset;
    background: rgba(0, 0, 0, .3);
    border-radius: 20px;
    /* but轉成DIV特性 */
    display: block;
}

.div11 {
    /*width: 50px;
    height: 50px;*/
   
}

#div12 {
    /*overflow: hidden;*/
    /*width: 500px;*/
    display: flex;
}
    #div12 li {
        float: left;
        width: 100px;
        height: 100px;
        margin: 2px;
        font-size: 150px;
        display: inline;
        color: #999;
        font: bold 55px arial;
        cursor: pointer;
        color: rgb(97, 97, 97);
    }

    #div12 .act {
        color: rgb(185, 150, 104);
    }


